table, h2, th {
    color: #7469B6;
}

#paid{
    /*"mt-1.5 ml-2 mr-1 bg-[#65D12B] border-solid border-1 border-[#65D12B] w-2.5 h-2.5 rounded-xl"*/
    margin-top: calc(var(--spacing) * 1.5);
    margin-left: calc(var(--spacing) * 2);
    margin-right: calc(var(--spacing) * 1);
    background: #65D12B;
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1;
    border-color: #65D12B;
    width: calc(var(--spacing) * 2.5);
    height: calc(var(--spacing) * 2.5);
}


#sent{
    margin-top: calc(var(--spacing) * 1.5);
    margin-left: calc(var(--spacing) * 2);
    margin-right: calc(var(--spacing) * 1);
    background: #038be0;
    border-radius: var(--radius-xl);
    border-style: solid;
    border-width: 1px;
    border-color: #038be0;
    width: calc(var(--spacing) * 2.5);
    height: calc(var(--spacing) * 2.5);
}

#statusborder{
    /*className="flex flex-nowrap border-solid border-1 border-[#F4F4F6] bg-[#F4F4F6] w-18 rounded-xl*/
    display: flex;
    flex-wrap: nowrap;
    border-style: solid;
    border-radius: var(--radius-xl);
    border-width: 1px;
    border-color: #F4F4F6;
    background-color: #F4F4F6;
    width: calc(var(--spacing) * 22);
}